/* topGnb  140*50  옆으로 7개가 있다.*/

.header {
    width: 980px;
    margin: auto;
}

.topLnb li {
    float: left;
}

.topLnb a {
    display: block;
    width: 140px;
    height: 50px;
    background-image: url(./images/Images/top_gnb.png);
    color: transparent;
}

.topLnb li:nth-child(1) a {
    background-position: 0 0;
}

.topLnb li:nth-child(2) a {
    background-position: 0 -50px;
}

.topLnb li:nth-child(3) a {
    background-position: 0 -100px;
}

.topLnb li:nth-child(4) a {
    background-position: 0 -150px;
}

.topLnb li:nth-child(5) a {
    background-position: 0 -200px;
}

.topLnb li:nth-child(6) a {
    background-position: 0 -250px;
}

.topLnb li:nth-child(7) a {
    background-position: 0 -300px;
}

.topLnb li:nth-child(1):hover a {
    background-position: 0 -350px;
}

.topLnb li:nth-child(2):hover a {
    background-position: 0 -400px;
}

.topLnb li:nth-child(3):hover a {
    background-position: 0 -450px;
}

.topLnb li:nth-child(4):hover a {
    background-position: 0 -500px;
}

.topLnb li:nth-child(5):hover a {
    background-position: 0 -550px;
}

.topLnb li:nth-child(6):hover a {
    background-position: 0 -600px;
}

.topLnb li:nth-child(7):hover a {
    background-position: 0 -650px;
}

.topLnb li a.active {
    background-position: 0 -550px;
}


/* 주가 되는 콘셉트에 클래스로 우선순위를 부여해서 보이도록 디자인함*/


/* bottomGnb  98*80  98짜리가 10개가 있다.*/

.bottomLnb li {
    float: left;
}

.bottomLnb a {
    display: block;
    width: 98px;
    height: 80px;
}

.bottomLnb a {
    display: block;
    width: 98px;
    height: 80px;
    background-image: url(./images/Images/bottom_gnb.png);
    color: transparent;
}

.bottomLnb li:nth-child(1) a {
    background-position: 0 0;
}

.bottomLnb li:nth-child(2) a {
    background-position: 0 -80px;
}

.bottomLnb li:nth-child(3) a {
    background-position: 0 -160px;
}

.bottomLnb li:nth-child(4) a {
    background-position: 0 -240px;
}

.bottomLnb li:nth-child(5) a {
    background-position: 0 -320px;
}

.bottomLnb li:nth-child(6) a {
    background-position: 0 -400px;
}

.bottomLnb li:nth-child(7) a {
    background-position: 0 -480px;
}

.bottomLnb li:nth-child(8) a {
    background-position: 0 -560px;
}

.bottomLnb li:nth-child(9) a {
    background-position: 0 -640px;
}

.bottomLnb li:nth-child(10) a {
    background-position: 0 -720px;
}

.bottomLnb li:nth-child(1):hover a {
    background-position: 0 -800px;
}

.bottomLnb li:nth-child(2):hover a {
    background-position: 0 -880px;
}

.bottomLnb li:nth-child(3):hover a {
    background-position: 0 -960px;
}

.bottomLnb li:nth-child(4):hover a {
    background-position: 0 -1040px;
}

.bottomLnb li:nth-child(5):hover a {
    background-position: 0 -1120px;
}

.bottomLnb li:nth-child(6):hover a {
    background-position: 0 -1200px;
}

.bottomLnb li:nth-child(7):hover a {
    background-position: 0 -1280px;
}

.bottomLnb li:nth-child(8):hover a {
    background-position: 0 -1360px;
}

.bottomLnb li:nth-child(9):hover a {
    background-position: 0 -1440px;
}

.bottomLnb li:nth-child(10):hover a {
    background-position: 0 -1520px;
}

.bottomLnb li a.active {
    background-position: 0 -1440px;
}

.panel {
    background-color: rgb(2, 2, 58);
    color: white;
    font-size: 12px;
    width: 980px;
    clear: both;
    margin: auto;
}

.panel>ul {
    float: left;
    width: 20%;
    padding: 1em;
}

.panel li {
    line-height: 2em;
    /* 문자를 한줄로 쓰기 */
    white-space: nowrap;
    /* 생략형으로 표현 */
    text-overflow: ellipsis;
    /* 페이지 넘어가면 숨기기 */
    overflow: hidden;
}

.panel .header {
    color: darkcyan;
    text-indent: 1em;
}